<header class="shop-header">
  <nav class="shop-nav">
    <ul class="shop-list">
      <li class="shop-list-item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">商店</a></li>
      <li class="shop-list-item"><a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">产品</a></li>
    </ul>
  </nav>
</header>